<section class="h-full flex items-center" id="header-profile-container">
  <div
    class="flex flex-row h-fit items-center gap-2 p-2 hover:bg-blue-400 rounded-2xl cursor-pointer"
    id="header-profile"
  >
    <mat-icon
      class="bg-neutral-800 rounded-full"
      style="color: #f5f5f5; width: 40px; height: 40px"
      svgIcon="default:account-circle"
    />
    <div class="flex flex-col" id="header-profile-info">
      <h4 class="font-bold text-md">Nombre y apellidos</h4>
      <h5 class="font-light text-xs">Estudiante</h5>
    </div>
  </div>
</section>
